In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\User\Desktop\globalterrorismdb_0718dist.csv", encoding = 'latin')

C:\Users\User\AppData\Local\Temp\ipykernel_24492\3269390628.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\User\Desktop\globalterrorismdb_0718dist.csv", encoding = 'latin')

In [6]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [10]:
df.isna().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [14]:
data_info = pd.DataFrame({
    'Data type': df.dtypes,
    'Missings count': df.isnull().sum(),
    'Missing (%)': (df.isnull().sum() / len(df) * 100).round(2),
    'Unique values': df.nunique()
})

In [20]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [21]:
data_info

                   Data type  Missings count  Missing (%)  Unique values
eventid                int64               0         0.00         181691
iyear                  int64               0         0.00             47
imonth                 int64               0         0.00             13
iday                   int64               0         0.00             32
approxdate            object          172452        94.91           2244
extended               int64               0         0.00              2
resolution            object          179471        98.78           1859
country                int64               0         0.00            205
country_txt           object               0         0.00            205
region                 int64               0         0.00             12
region_txt            object               0         0.00             12
provstate             object             421         0.23           2855
city                  object             435         0.24          36673
latitude             float64            4556         2.51          48322
longitude            float64            4557         2.51          48039
specificity          float64               6         0.00              5
vicinity               int64               0         0.00              3
location              object          126196        69.46          44109
summary               object           66129        36.40         112492
crit1                  int64               0         0.00              2
crit2                  int64               0         0.00              2
crit3                  int64               0         0.00              2
doubtterr            float64               1         0.00              3
alternative          float64          152680        84.03              5
alternative_txt       object          152680        84.03              5
multiple             float64               1         0.00              2
success                int64               0         0.00              2
suicide                int64               0         0.00              2
attacktype1            int64               0         0.00              9
attacktype1_txt       object               0         0.00              9
attacktype2          float64          175377        96.52              9
attacktype2_txt       object          175377        96.52              9
attacktype3          float64          181263        99.76              8
attacktype3_txt       object          181263        99.76              8
targtype1              int64               0         0.00             22
targtype1_txt         object               0         0.00             22
targsubtype1         float64           10373         5.71            112
targsubtype1_txt      object           10373         5.71            112
corp1                 object           42552        23.42          33237
target1               object             638         0.35          86005
natlty1              float64            1559         0.86            215
natlty1_txt           object            1559         0.86            215
targtype2            float64          170547        93.87             22
targtype2_txt         object          170547        93.87             22
targsubtype2         float64          171006        94.12            107
targsubtype2_txt      object          171006        94.12            107
corp2                 object          171574        94.43           2691
target2               object          170671        93.93           5043
natlty2              float64          170863        94.04            158
natlty2_txt           object          170863        94.04            158
targtype3            float64          180515        99.35             20
targtype3_txt         object          180515        99.35             20
targsubtype3         float64          180594        99.40             92
targsubtype3_txt      object          180594        99.40             92
corp3                 object          180665        99.44            422
target3               object          180516        99.35            720
natlty3              float64          180544        99.37            110
natlty3_txt           object          180544        99.37            110
gname                 object               0         0.00           3537
gsubname              object          175801        96.76           1183
gname2                object          179678        98.89            433
gsubname2             object          181531        99.91             60
gname3                object          181367        99.82            116
gsubname3             object          181671        99.99             14
motive                object          131130        72.17          14490
guncertain1          float64             380         0.21              2
guncertain2          float64          179736        98.92              2
guncertain3          float64          181371        99.82              2
individual             int64               0         0.00              2
nperps               float64           71115        39.14            113
nperpcap             float64           69489        38.25             50
claimed              float64           66120        36.39              3
claimmode            float64          162608        89.50             10
claimmode_txt         object          162608        89.50             10
claim2               float64          179801        98.96              3
claimmode2           float64          181075        99.66              9
claimmode2_txt        object          181075        99.66              9
claim3               float64          181373        99.82              2
claimmode3           float64          181558        99.93              8
claimmode3_txt        object          181558        99.93              8
compclaim            float64          176852        97.34              3
weaptype1              int64               0         0.00             12
weaptype1_txt         object               0         0.00             12
weapsubtype1         float64           20768        11.43             30
weapsubtype1_txt      object           20768        11.43             30
weaptype2            float64          168564        92.78             11
weaptype2_txt         object          168564        92.78             11
weapsubtype2         float64          170149        93.65             28
weapsubtype2_txt      object          170149        93.65             28
weaptype3            float64          179828        98.97             10
weaptype3_txt         object          179828        98.97             10
weapsubtype3         float64          179998        99.07             22
weapsubtype3_txt      object          179998        99.07             22
weaptype4            float64          181618        99.96              5
weaptype4_txt         object          181618        99.96              5
weapsubtype4         float64          181621        99.96             16
weapsubtype4_txt      object          181621        99.96             16
weapdetail            object           67670        37.24          19148
nkill                float64           10313         5.68            205
nkillus              float64           64446        35.47             31
nkillter             float64           66958        36.85             96
nwound               float64           16311         8.98            238
nwoundus             float64           64702        35.61             44
nwoundte             float64           69143        38.06             44
property               int64               0         0.00              3
propextent           float64          117626        64.74              4
propextent_txt        object          117626        64.74              4
propvalue            float64          142702        78.54            659
propcomment           object          123732        68.10          19157
ishostkid            float64             178         0.10              3
nhostkid             float64          168119        92.53            209
nhostkidus           float64          168174        92.56             27
nhours               float64          177628        97.76             35
ndays                float64          173567        95.53            328
divert                object          181367        99.82            143
kidhijcountry         object          178386        98.18            217
ransom               float64          104310        57.41              3
ransomamt            float64          180341        99.26            429
ransomamtus          float64          181128        99.69             23
ransompaid           float64          180917        99.57            156
ransompaidus         float64          181139        99.70              8
ransomnote            object          181179        99.72            386
hostkidoutcome       float64          170700        93.95              7
hostkidoutcome_txt    object          170700        93.95              7
nreleased            float64          171291        94.28            156
addnotes              object          153402        84.43          15429
scite1                object           66191        36.43          83988
scite2                object          104758        57.66          62263
scite3                object          138175        76.05          36090
dbsource              object               0         0.00             26
INT_LOG                int64               0         0.00              3
INT_IDEO               int64               0         0.00              3
INT_MISC               int64               0         0.00              3
INT_ANY                int64               0         0.00              3
related               object          156653        86.22          14306

In [22]:
limit = len(df) * 0.6 

df_cleaned = df.dropna(thresh=limit, axis=1)

print(f"Previous number of columns: {df.shape[1]}")
print(f"Number of columns: {df_cleaned.shape[1]}")

Previous number of columns: 135
Number of columns: 58

In [26]:
df_cleaned.isna().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country                 0
country_txt             0
region                  0
region_txt              0
provstate             421
city                  435
latitude             4556
longitude            4557
specificity             6
vicinity                0
summary             66129
crit1                   0
crit2                   0
crit3                   0
doubtterr               1
multiple                1
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
targsubtype1        10373
targsubtype1_txt    10373
corp1               42552
target1               638
natlty1              1559
natlty1_txt          1559
gname                   0
guncertain1           380
individual              0
nperps              71115
nperpcap            69489
claimed             66120
weaptype1               0
weaptype1_txt           0
weapsubtype1        20768
weapsubtype1_txt    20768
weapdetail          67670
nkill               10313
nkillus             64446
nkillter            66958
nwound              16311
nwoundus            64702
nwoundte            69143
property                0
ishostkid             178
scite1              66191
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64